/*halaman */
body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}
.login-box{
    margin:450px auto;
    margin-left: 850px;
    width: 280px;
    top: 50%;
    left: 50%;
    color: wheat;
}
.login-box h1{
    font-size: 40px;
    border-bottom: 6px solid brown;
    text-align: center;

}
.texbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin:  8px 0;
    border-bottom: 1px solid burlywood;
}
.texbox i{
    width: 26px;
    text-align: center;
}
.texbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
 .tes{

 }